.cheatsheet{style:'display:inline-block;border:1px solid gray;border-radius:6px;padding:20px'}
  %h1
    ="Simple Cheat Sheet (spaces are important)"
    %hr
  %h2
    ="Headings:"
    %br

  ="h1: #"
  %br
  ="h2: ##"
  %br
  ="h2: ###"
  %br
  ="h4: ####"
  %br
  ="h5: #####"
  %br
  ="h6: ######"
  %br
  %hr

  %h2
    ="Horizontal Rules (hr):"
    %br

  ="*** OR ___ OR ---"
  %br
  %hr

  %h2
    ="Bold:"
    %br

  ="**(your text)**"
  %br
  %hr

  %h2
    ="Italics"
    %br

  ="_(your text)_"
  %br
  %hr

  %h2
    ="Strikethrough:"
    %br

  ="~~(your text)~~"
  %br
  %hr

  %h2
    ="Bullets:"
    %br

  ="* (your text) OR - (your text) OR + (your text)"
  %br
  %hr

  %h2
    ="Numbered List:"
    %br

  ="(your number). (your text)"
  %br
  %hr

  %h2
    ="Code:"
    %br

  ="`(your code)`"
  %br
  %hr

  %h2
    ="Code block:"
    %br

  ="```(your code block)```"
  %br
  %hr

  %h2
    ="Image:"
    %br

  ="![your image title] (your image url)"
  %br
  %hr

  %h2
    ="Link:"
    %br

  ="[your link title](your link url)"
  %br
