.email-signup-container
  %h2
    Sign up
  %hr{style:'background-color:#b7b7b7'}
  = form_for email_signup_path do |f|
    .form-group
      =f.label :email
      =f.email_field :email, class: "form-control"
      %br
      %br

      =f.submit "Subscribe to blog", class: 'btn subscribe-btn medium-text'
