.gg-container.blog-page
  .blog-container
    -if current_admin?
      = link_to '+ New Blog post', new_blog_post_path, class: 'btn btn-warning'
      %br
      %br
    -@blog_posts.each do |post|
      .post-container{style:"padding:20px;margin-bottom:20px;border-radius:6px;background-color:white"}
        %h4.grey-text=post.created_at.strftime("%B %e, %Y")
        %h1=post.title
        %h4.grey-text="by <strong>#{post.author}</strong>".html_safe
        %br
        =markdown(post.description)
        =link_to "Read more <span class='fa fa-chevron-right'></span>".html_safe, blog_post_path(post), class: 'btn btn-default'
        -if current_admin?
          %br
          %br
          = link_to 'Edit', edit_blog_post_path(post), class: 'btn btn-primary'
          = link_to 'Delete this post', blog_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  =render 'signup_form'
