.blog-container
  -if current_admin?
    = link_to '+ New Blog post', new_blog_post_path, class: 'btn btn-default'
  - @blog_posts.each do |blog_post|
    -# %td= link_to 'Show', blog_post_path(blog_post.id,blog_post.slug), class: 'btn btn-default'
    -# %td= link_to 'Edit', edit_blog_post_path(blog_post.id,blog_post.slug), class: 'btn btn-default'
    -# %td= link_to 'Destroy', blog_post_path(blog_post.id,blog_post.slug), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
    %h2=blog_post.title
    %h4=blog_post.created_at.strftime("%B %e, %Y")
    %p=blog_post.description
    = link_to "Read more <span class='fa fa-chevron-right'></span>".html_safe, blog_post_path(blog_post), class: 'btn btn-default'
    -if current_admin?
      = link_to 'Edit', edit_blog_post_path(blog_post), class: 'btn btn-default'
      = link_to 'Delete this post', blog_post_path(blog_post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
    %hr
