#footer-container {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #fff;
}

#footer-nav-container {
  color: #fff;
  text-align: center;
  float: none;
  padding-top: 60px;
  margin: 0 auto;
}
